##**Assignment : Data Structures in Python**

**1.Write a code to revese  string?**

In [13]:
s=input("Enter a string:")
print(s[::-1])

Enter a string:abcdef
fedcba

**2.Write a code to count the number of voweles in string?**

In [14]:
count=0
s=input("Enter a string:")
for i in s:
  if i in 'aeiouAEIOU':
    count +=1
print(count)

Enter a string:afhasfjka
3

**3.Write a code to check if a given string is a palindrome or not?**

In [15]:
s=input("Enter a string:")
s1=s[::-1]
if s==s1:
  print("Palindrome")
else:
  print("Not Palindrome")
c=len(s)
for i in range(c//2):
  if s[i]!=s[c-i-1]:
    print("not a palindrome")
  else:
    print("palindrome")
    break

Enter a string:mom
Palindrome
palindrome

**4.Write a code to check if two given strings are anagrams of each other?**

In [16]:
s1=input("Enter a string:")
s2=input("Enter a string:")
if sorted(s1)==sorted(s2):
  print("Anagrams")
else:
  print("Not Anagrams")

if len(s1)!=len(s2):
  print("Not Anagrams")
else:
  if sorted(s1)==sorted(s2):
    print("Anagrams")
  else:
    print("Not Anagrams")

Enter a string:silent
Enter a string:tslien
Anagrams
Anagrams

**5.Write a code to find all occurrences of a given substring within another string?**

In [22]:
s=input("Enter a string:")
s1=input("Enter a substring:")
c=s.count(s1)
print(c)
print('\n')
'''count =0
s=s.split()
for i in range(len(s)):
  if s[i]==s1:
    count+=1
print(count)'''

Enter a string:Write a code to find all occurrences of a given substring within another string
Enter a substring:a
4

'count =0\ns=s.split()\nfor i in range(len(s)):\n  if s[i]==s1:\n    count+=1\nprint(count)'

6**. Write a code to perform basic string compression using the counts of repeated characters?**

In [18]:
s = "aaabbbccca"
compressed = ""
count = 1
for i in range(1, len(s)):
    if s[i] == s[i - 1]:
        count += 1
    else:
        compressed += s[i - 1] + str(count)
        count = 1
compressed += s[-1] + str(count)

print(compressed)

a3b3c3a1

**7.Write a code to determine if a string has all unique characters?**

In [19]:
s1 = input("Enter a string:")
for i in range(len(s1)):
    if s1.count(s1[i]) > 1:
        print("Not unique")
        break
else:
    print("Unique")

Enter a string:hello
Not unique

**8.Write a code to convert a given string to uppercase or lowercase**

In [20]:
s=input("Enter a string:")
print(s.upper())
print(s.lower())

print('\n')

for char in s:#Upper
  if 'a' <= char <= 'z':
    print(chr(ord(char) - 32), end='')
for char in s:#Lower case
  if 'A' <= char <= 'Z':
    print(chr(ord(char) + 32), end='')

Enter a string:Write a code to convert a given string to uppercase or lowercase
WRITE A CODE TO CONVERT A GIVEN STRING TO UPPERCASE OR LOWERCASE
write a code to convert a given string to uppercase or lowercase


RITEACODETOCONVERTAGIVENSTRINGTOUPPERCASEORLOWERCASEw

**9.Write a code to count the number of words in a strings?**

In [21]:
s=input("Enter a string:")
count=0
word=False
for i in s:
  if i !=' ' and word==False:
    count+=1
    word=True
  elif i==' ':
    word=False
print(count)

Enter a string:Write a code to count the number of words in a strings
12

**10.Write a code to conctinate two strings without using the a opertor?**

In [22]:
s1=input("Enter a string:")
s2=input("Enter a string:")
s3=''
for i in s1:
  s3+=i
s3=s3+' '
for j in s2:
  s3+=j
print(s3)

Enter a string:hello
Enter a string:mahesh
hello mahesh

**11.Write a code to remove all occurrences of a specific element from  a list.**

In [31]:
l=input("enter the numbers : ")
numbers_list = list(map(int, l.split()))
print(numbers_list)
inputnumber=int(input("enter the number to remove : "))
numbers_list=[i for i in numbers_list if i != inputnumber]
print(numbers_list)

enter the numbers : 1 2 3 4 5 5 4 3 21 5 5 3 5 6 5
[1, 2, 3, 4, 5, 5, 4, 3, 21, 5, 5, 3, 5, 6, 5]
enter the number to remove : 5
[1, 2, 3, 4, 4, 3, 21, 3, 6]

**12. Implement a code to find the second largest number in a given list of integer?**

In [ ]:
l=input("enter the numbers : ")
nl=list(map(int,l.split()))
for i in nl:
  max=i
  for j in nl:
    if j>max:
      max=j
print(max)
nl.remove(max)
for i in nl:
  max=i
  for j in nl:
    if j>max:
      max=j
print(f"second largest number in a given list is :{max}")

**13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values ?**

In [32]:
l=input("enter the numbers : ")
l=list(map(int,l.split()))
d={}
for i in l:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
print(d)

enter the numbers : 1 2 3 4 5 5 4 3 21 5 5 3 5 6 5
{1: 1, 2: 1, 3: 3, 4: 2, 5: 6, 21: 1, 6: 1}

**Write a code to remove a list in-place without using any built-in reverse functions?**

In [33]:
l=input("enter the numbers : ")
l=list(map(int,l.split()))
nl=[]
for i in range(len(l)):
  nl.append(l.pop())
print(nl)

enter the numbers : 1 2 3 4 5 5 4 3 21 5 5 3 5 6 5
[5, 6, 5, 3, 5, 5, 21, 3, 4, 5, 5, 4, 3, 2, 1]

**15.Implement a code to find and remove duplic'ates from a list while preserving the original order of
elements?**

In [34]:
l=input("enter the numbers : ")
l=list(map(int,l.split()))
nl=[]
for i in l:
  if i not in nl:
    nl.append(i)
print(nl)

print('\n')

st=set(l)
ls=list(st)
print(ls)

enter the numbers : 1 2 3 4 5 5 4 3 21 5 5 3 5 6 5
[1, 2, 3, 4, 5, 21, 6]


[1, 2, 3, 4, 5, 6, 21]

**16.Create a code to check if a given list is sorted (either in ascending or descending order) or not?**

In [35]:
l=input("enter the numbers : ")
l=list(map(int,l.split()))
is_ascending=True
is_decending=True
for i in range(len(l)-1):
  if l[i]>l[i+1]:
    is_ascending=False
  elif l[i]<l[i+1]:
    is_decending=False
if is_ascending or is_decending:
  print("sorted")
else:
  print("not sorted")

enter the numbers : 1 2 3 4 5 5 4 3 21 5 5 3 5 6 5
not sorted

**17.Write a code to merge two sorted lists into a single sorted lists?**

In [36]:
l1=input("enter the numbers : ")
l1=list(map(int,l1.split()))
l1.sort
l2=input("enter the numbers : ")
l2=list(map(int,l2.split()))
l2.sort
l3=[]
for i in range(len(l1)):
  l3.append(l1[i])
for j in range(len(l2)):
  l3.append(l2[j])
l3.sort()
print(l3)

enter the numbers : 1 2 3 4 5 5 4 3 21 5 5 3 5 6 5
enter the numbers : 21 5 5 3 5 6 5 7
[1, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 7, 21, 21]

**18. Implement a code to find the intersection of two given lists?**

In [37]:
l1=input("enter the numbers : ")
l1=list(map(int,l1.split()))
l2=input("enter the numbers : ")
l2=list(map(int,l2.split()))
l3=[]
for i in l1:
  for j in l2:
    if i==j:
      l3.append(i)
print(l3)

enter the numbers : 1 2 3 4
enter the numbers : 4 5 6 7
[4]

**19. Create a code to find the union of two lists without duplicates?**

In [38]:
l1=input("enter the numbers : ")
l1=list(map(int,l1.split()))
l2=input("enter the numbers : ")
l2=list(map(int,l2.split()))
l1=set(l1)
l2=set(l2)
l3=set()
for i in l1:
  l3.add(i)
for j in l2:
  l3.add(j)
l3=set(l3)
l3=list(l3)
print(l3)

# we can also do using the for loop and the membershipoerators

enter the numbers : 1 2 3 4
enter the numbers : 4 3 5 6
[1, 2, 3, 4, 5, 6]

**20. Write a code to shuffle a given list randomly without using any built-in shuffle functions?**

In [39]:
import random

lst = input("Enter the numbers in the list: ")
lst = list(map(int, lst.split()))
for i in range(len(lst)):
  rand_index = random.randint(0, len(lst) - 1)
  lst[i], lst[rand_index] = lst[rand_index], lst[i]
print("shuffled list=",lst)

Enter the numbers in the list: 1 2 3 4
shuffled list= [2, 1, 4, 3]

**21.Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples?**

In [40]:
t1=input("enter the numbers : ")
t1=tuple(map(int,t1.split()))
t2=input("enter the numbers : ")
t2=tuple(map(int,t2.split()))
t3=tuple()
for i in t1:
  if i in t2:
    t3=t3+(i,) #here we can add tuples using the concatinate symbol as it is immutable
print(t3)

enter the numbers : 1 2 3 4
enter the numbers : 8 9 0 7
()

**22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets?**

In [41]:
s1=input("enter the numbers : ")
s1=set(map(int,s1.split(',')))
s2=input("enter the numbers : ")
s2=set(map(int,s2.split(',')))
s3=s1.intersection(s2)
print(s3)

print('\n')

s4=set()
for i in s1:
  if i in s2:
    s4.add(i)
print(s4)

enter the numbers : 1,2,3,4
enter the numbers : 5,6,7,8
set()


set()

**23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples?**

In [42]:
def concat(t1,t2):
  t3=t1+t2
  return t3
tup1=input("enter the numbers : ")
tup1=tuple(map(int,tup1.split()))
tup2=input("enter the numbers : ")
tup2=tuple(map(int,tup2.split()))
tup3=concat(tup1,tup2)
print(tup3)

enter the numbers : 1 2 3 4
enter the numbers : 6 7 8 9
(1, 2, 3, 4, 6, 7, 8, 9)

**24.Develop a code that prompts the user to input two sets of strings. Then print the elements that are
present in the first set but not in the second set?**

In [2]:
s1=input("enter the strings : ")
s1=set(map(str,s1.split()))
s2=input("enter the strings : ")
s2=set(map(str,s2.split()))
s3=s1.difference(s2) # here we can also write s3 = s1-s2
print(s3)

enter the strings : are present in the first
enter the strings : are
{'present', 'in', 'first', 'the'}

**25.Create a code that takes a tuple and two integers as input. the fuction should return a new tuple containing elements from the original tuple within the specified range of indices?**

In [4]:
#function definatiom
def slice_tuple(t, start, end):
    return t[start:end+1]

#user in put
t1=input("enter the numbers : ")
t1=tuple(map(int,t1.split()))
start=int(input("enter the start index : "))
end=int(input("enter the end index : "))

#fuction call
print(slice_tuple(t1,start,end))

enter the numbers : 1 2 3 4 5
enter the start index : 2
enter the end index : 4
(3, 4, 5)

**26. Write a code that prompts the user to input two sets of characters. Then print the union of these two sets?**

In [5]:
s1=input("enter the characters : ")
s1=set(s1)
s2=input("enter the characters : ")
s2=set(s2)
s3=s1.union(s2) # s3= s1 | s2
print(s3)

enter the characters : a b c d e
enter the characters : e f g h i j
{'d', ' ', 'i', 'j', 'f', 'e', 'c', 'b', 'g', 'a', 'h'}

**27. Develop a code that takes a tuple of intigers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking?**

In [6]:
def find_min_max(t):
  min_value=min(t)
  max_value=max(t)
  return min_value,max_value

t=tuple(map(int,input("enter the numbers : ").split()))
mini_value,maxi_value=find_min_max(t)
print(f"minimum value is {mini_value} maximum value is {maxi_value}")

enter the numbers : 1 2 3 4 4 5 6 7 8
minimum value is 1 maximum value is 8

**28.Create a code that defines two sets of intigers. Then print the union intersection and difference of these
two sets?**

In [7]:
s1=set(map(int,input("enter the numbers : ").split()))
s2=set(map(int,input("enter the numbers : ").split()))
#union
s3=set()
for i in s1:
  s3.add(i)
for j in s2:
  s3.add(j)
print(f"union is {s3}")

s4=s1.union(s2)
print(f"union is {s4}")

#intersection
s5=s1.intersection(s2)
print(f"intersection is {s5}")

s0=set()
for i in s1:
  if i in s2:
    s0.add(i)
print(f"intersection is {s0}")
#difference
s6=s1.difference(s2)
print(f"difference is {s6}")# s6=s1-s2

enter the numbers : 1 2 3 4 5 6 3 4
enter the numbers : 4 5 6 7 8 9 0
union is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
union is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection is {4, 5, 6}
intersection is {4, 5, 6}
difference is {1, 2, 3}

**29.Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple?**

In [11]:

def occurances(t,element):
  count=0
  for i in t:
    if i==element:
      count+=1
  return count

t=tuple(map(int,input("enter the elements : ").split()))
element=int(input("enter the element : "))
count=occurances(t,element)
print(f"count of {element} is {count}")

enter the elements : 1 2 3 4 5 6 7 1 2 3 3 2 1 2
enter the element : 2
count of 2 is 4

 **30.Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of
these two sets?**

**Note:** Symmetric difference means the elements that are unique to each set, excluding the common elements.

In [12]:
s1=input("enter the strings : ")
s1=set(map(str,s1.split()))
s2=input("enter the strings : ")
s2=set(map(str,s2.split()))
s3=set()
for i in s1:
  if i not in s2:
    s3.add(i)
for j in s2:
  if j not in s1:
    s3.add(j)
print(s3)

print('\n')

s4=s1.symmetric_difference(s2)
print(s4)

print("\n")

s5=s1^s2
print(s5)

enter the strings : hello mahesh how are you are you okay you are strong
enter the strings : are you there how are you
{'hello', 'strong', 'there', 'okay', 'mahesh'}


{'hello', 'strong', 'there', 'okay', 'mahesh'}


{'hello', 'strong', 'there', 'okay', 'mahesh'}

**31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list?**

In [13]:
l=list(map(str,input("enter the words : ").split()))
d={}
for i in l:
  count=0
  for j in l:
    if i==j:
      count+=1
      d[i]=count
print(d)

enter the words : a b c d e f g h i g
{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'f': 1, 'g': 2, 'h': 1, 'i': 1}

**32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys the values should be added together?**

In [14]:
#dict1
ip=input("enter the numbers : ")
ip=ip.split()
d1={}
for i in range(0,len(ip),2):
  key=ip[i]
  value=ip[i+1]
  value=ip[i+1]
  if 'a' <= value <= 'z':
    value=ord(value)
  elif 'A' <= value <= 'Z':
    value=ord(value)
  else:
    value=int(value)
  if key in d1:
    d1[key]+=value
  else:
    d1[key]=value
print(d1,"\n\n")
#dict2
ip2=input("enter the numbers : ")
ip2=ip2.split()
d2={}
for i in range(0,len(ip2),2):
  key=ip2[i]
  value=ip2[i+1]
  if 'a' <= value <= 'z':
    value=ord(value)
  elif 'A' <= value <= 'Z':
    value=ord(value)
  else:
    value=int(value)

  if key in d2:
    d2[key]+=value
  else:
    d2[key]=value
print(d2,"\n\n")

#merged dictonary
merged_dict={}
for key,value in d1.items():
  if key in d2:
    merged_dict[key]=value+d2[key]
  else:
    merged_dict[key]=value
for key,value in d2.items():
  if key not in merged_dict:
    merged_dict[key]=value
print(merged_dict)

enter the numbers : a b c d a b c d a b c d
{'a': 294, 'c': 300}


enter the numbers : e f g h e f g h e f g h
{'e': 306, 'g': 312}


{'a': 294, 'c': 300, 'e': 306, 'g': 312}

**33.Write a code to acess a value in a nested dictionary. The function should take the dictionary and a list of
keys as input and return the corresponding value. If any of the keys do not exist in the dictionary the function should return None?**

In [17]:
def dictn(d,l):
  for key in k:
    if key in d:
      d = d[key]
    else:
      return None
  return d
nst_dict={
    'a':{
        'b':{
            'c':'d'
        }
    },
    'e':{
        'f':{
            'g':'h'
        }
    }

    }
k=list(map(str,input("enter the keys : ").split()))
print("Values",dictn(nst_dict,k))

enter the keys : a b c
Values d

**34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order?**

In [18]:
ip=input("enter the numbers : ")
ip=ip.split()
d={}
for i in range(0,len(ip),2):
  key=ip[i]
  value=ip[i+1]
  if 'a' <= value <= 'z':
    value=ord(value)
  elif 'A' <= value <= 'Z':
    value=ord(value)
  else:
    value=int(value)
  if key in d:
    d[key]+=value
  else:
    d[key]=value
print(d,"\n\n")
sorted_dict=dict(sorted(d.items(),key=lambda x:x[1]))
print(sorted_dict)

enter the numbers : a b c d
{'a': 98, 'c': 100}


{'a': 98, 'c': 100}

**35.Write a code that inverts a dictionary  swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value be storing the keys as a list in the
inverted dictionary**

In [20]:
in_verteddict={}
original_dictonary={}
original_dict=input("enter the numbers : ")
original_dict=original_dict.split()
for i in range(0,len(original_dict),2):
  key=original_dict[i]
  value=original_dict[i+1]
  if 'a' <= value <= 'z':
    value=ord(value)
  elif 'A' <= value <= 'Z':
    value=ord(value)
  else:
    value=int(value)

  original_dictonary[key]=value

for key,value in original_dictonary.items():
  if value in in_verteddict:
    in_verteddict[value].append(key)
  else:
    in_verteddict[value]=[key]
print(in_verteddict)

enter the numbers : a b b a d a b a c a d b b d
{98: ['a', 'd'], 100: ['b'], 97: ['c']}